@import '@angular/cdk/overlay-prebuilt.css';

@import 'tailwindcss';
@import '@spartan-ng/brain/hlm-tailwind-preset.css';

:root {
  --font-sans: 'Geist Sans', sans-serif;
}

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --radius: 0.625rem;
}

:root.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.145 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
}

@theme {
  --text-tiny: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --radius: 0.625rem;
}

@layer base {
  * {
    @apply border-border;
  }

  p,
  span,
  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply text-foreground;
  }
}

html,
body {
  overscroll-behavior-y: none; /** Stop vertical bounce; keep horizontal swipe navigation */
}

/*Custom Video Player Styles - Required because tailwind alone can not change all the needed styles*/

/* Remove default outline and shadow for Chrome, Safari, Edge */
input.custom-video-player-slider {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background: transparent; /* we control with gradient */
}

input.custom-video-player-slider:focus {
  outline: none;
}

input.custom-video-player-slider::-webkit-slider-runnable-track {
  appearance: none;
  background: transparent; /* gradient controls color */
  height: 4px;
  border: none; /* remove borders */
  box-shadow: none; /* remove inner/outer shadows */
  border-radius: 1px;
}

input.custom-video-player-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  background: white;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  margin-top: -5px; /* center thumb */
  box-shadow: none; /* remove hover/focus shadow */

  /* compensate for the browser offset */
  margin-right: -4px; /* half the thumb width */
}

input.custom-video-player-slider-volume::-webkit-slider-thumb {
  margin-top: -4px; /* center thumb */
  /* compensate for the browser offset */
  margin-right: 0; /* half the thumb width */
}

/* Firefox */
input.custom-video-player-slider::-moz-range-track {
  appearance: none;
  background: transparent; /* gradient controls color */
  height: 4px;
  border: none; /* remove borders */
  box-shadow: none; /* remove inner/outer shadows */
  border-radius: 1px;
}

input.custom-video-player-slider::-moz-range-thumb {
  width: 12px;
  height: 12px;
  background: white;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  box-shadow: none;
}

input.custom-video-player-slider::-moz-range-progress {
  background: white; /* fill color */
  height: 4px;
  border-radius: 1px;
}
