DATABASE_URL=postgresql://postgres:postgres@localhost:5432/opengallery
BETTER_AUTH_SECRET=mysecret
BETTER_AUTH_URL=http://localhost:4200
TRUSTED_ORIGINS=http://localhost:4200,https://nebbs.opengallery.com
INTERNAL_TOKEN=my_token
DEFAULT_UPLOAD_PATH=/tmp/opengallery/uploads
